{% extends "base.html" %}
{% block content %}
    <div role="main" class="main shop pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb font-weight-bold text-6 justify-content-center my-5">
                        <li class="text-transform-none me-2">
                            <a href="{% url 'cart' %}"
                               class="text-decoration-none text-color-primary">Shopping Cart</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="text-transform-none text-color-grey-lighten me-2">
                                <a href="{% url 'checkout' %}"
                                   class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Checkout</a>
                            </li>
                            <li class="text-transform-none text-color-grey-lighten">
                                <a href="shop-order-complete.html"
                                   class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row pb-4 mb-5">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <form method="post" action="{% url 'update-product' None %} ">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="shop_table cart">
                                <thead>
                                    <tr class="text-color-dark">
                                        <th class="product-thumbnail" width="15%">&nbsp;</th>
                                        <th class="product-name text-uppercase" width="30%">Product</th>
                                        <th class="product-price text-uppercase" width="15%">Price</th>
                                        <th class="product-quantity text-uppercase" width="20%">Quantity</th>
                                        <th class="product-subtotal text-uppercase text-end" width="20%">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in object_list.cartitems_set.all %}
                                        <tr class="cart_table_item">
                                            <td class="product-thumbnail">
                                                <div class="product-thumbnail-wrapper">
                                                    <a href="{% url 'update-product' cart_item.id %}"
                                                       class="product-thumbnail-remove"
                                                       title="Remove Product">
                                                        <i class="fas fa-times"></i>
                                                    </a>
                                                    <a href="{{ cart_item.get_url }}"
                                                       class="product-thumbnail-image"
                                                       title="Luxury Bag">
                                                        <img width="90"
                                                             height="90"
                                                             alt=""
                                                             class="img-fluid"
                                                             src="{{ cart_item.cart_item_image }}">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="product-name">
                                                <a href="{{ cart_item.get_url }}"
                                                   class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">
                                                {{ cart_item.cart_product_id }}</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount font-weight-medium text-color-grey">{{ cart_item.cart_item_price }}</span>
                                            </td>
                                            <td class="product-quantity">
                                                <div class="quantity float-none m-0">
                                                    <input type="button"
                                                           class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary"
                                                           value="-">
                                                    <input type="text"
                                                           class="input-text qty text"
                                                           title="Qty"
                                                           value="{{ cart_item.quantity }}"
                                                           name="{{ cart_item.id }}"
                                                           id="product_quantity"
                                                           max="{{ cart_item.max_quantity }}"
                                                           min="1"
                                                           step="1">
                                                    <input type="button"
                                                           class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary"
                                                           value="+">
                                                </div>
                                            </td>
                                            <td class="product-subtotal text-end">
                                                <span class="amount text-color-dark font-weight-bold text-4">{{ cart_item.cart_subtotal|floatformat:"-2" }}$</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="4">
                                            <a href="{% url 'home' %}"
                                               class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">
                                                Continue Shopping
                                            </a>
                                        </td>
                                        <td colspan="">
                                            <button type="submit"
                                                    class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">
                                                update cart
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 position-relative">
                    <div class="card border-width-3 border-radius-0 border-color-hover-dark"
                         data-plugin-sticky
                         data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}">
                        <div class="card-body">
                            <h4 class="font-weight-bold text-uppercase text-4 mb-3">Cart Totals</h4>
                            <table class="shop_table cart-totals mb-4">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <td class="border-top-0">
                                            <strong class="text-color-dark">Subtotal</strong>
                                        </td>
                                        <td class="border-top-0 text-end">
                                            <strong><span class="amount font-weight-medium">{{ object_list.cart_items_subtotal_sum|floatformat:"-2" }}$</span></strong>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <td colspan="2">
                                            <strong class="d-block text-color-dark mb-2">Shipping</strong>
                                            <div class="d-flex flex-column">
                                                <label class="d-flex align-items-center text-color-grey mb-0"
                                                       for="shipping_method1">
                                                    <input id="shipping_method1"
                                                           type="radio"
                                                           class="me-2"
                                                           name="shipping_method"
                                                           value="free"
                                                           checked />
                                                    Free Shipping
                                                </label>
                                                <label class="d-flex align-items-center text-color-grey mb-0"
                                                       for="shipping_method2">
                                                    <input id="shipping_method2"
                                                           type="radio"
                                                           class="me-2"
                                                           name="shipping_method"
                                                           value="local-pickup" />
                                                    Local Pickup
                                                </label>
                                                <label class="d-flex align-items-center text-color-grey mb-0"
                                                       for="shipping_method3">
                                                    <input id="shipping_method3"
                                                           type="radio"
                                                           class="me-2"
                                                           name="shipping_method"
                                                           value="flat-rate" />
                                                    Flat Rate: $5.00
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            <strong class="text-color-dark text-3-5">Total</strong>
                                        </td>
                                        <td class="text-end">
                                            <strong class="text-color-dark"><span class="amount text-color-dark text-5">{{ object_list.cart_items_subtotal_sum|floatformat:"-2" }}$</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if not cart_quantity %}
                                <span>Add somethin to continue</span>
                            {% elif request.user.is_authenticated %}
                                <a href="{% url 'checkout' %}"
                                   class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3">Proceed
                                to Checkout <i class="fas fa-arrow-right ms-2"></i></a>
                            {% else %}
                                <a href="{% url 'login' %}?next={{ request.path }}"
                                   class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3">Login
                                to Checkout <i class="fas fa-arrow-right ms-2"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
