{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-xxl">
        <div class="row">
            {% include "products/includes/sidebar.html" %}
            <div class="col-lg-9 order-2 order-lg-2 ">
                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list"
                         data-plugin-masonry
                         data-plugin-options="{'layoutMode': 'fitRows'}">
                        <!--single procuct-->
                        {% for product in object_list %}
                            <div class="col-sm-6 col-lg-4 mb-5 ">
                                <div class="product mb-0">
                                    <div class="product-thumb-info border-0 mb-3 bg-color-grey-scale-6">
                                        <div class="product-thumb-info-badges-wrapper">
                                            {% if product.product_discount %}
                                                <span class="badge badge-ecommerce badge-danger">up to {{ product.product_discount }}% OFF</span>
                                            {% endif %}
                                        </div>
                                        {% if product.product_discount %}
                                            <div class="countdown-offer-wrapper">
                                                <div class="text-color-light negative-ls-05 text-2" data-plugin-countdown data-plugin-options="{'textDay': 'DAYS', 'textHour': 'HRS', 'textMin': 'MIN', 'textSec': 'SEC', 'date': '{{ product.product_offer_duration|date:"Y/m/d G:i:s" }}', 'numberClass': 'text-color-light', 'wrapperClass': 'text-color-light', 'insertHTMLbefore': '<span>OFFER ENDS IN </span>', 'textDay': 'DAYS', 'textHour': ':', 'textMin': ':', 'textSec': '', 'uppercase': true}">
                                                </div>
                                            </div>
                                        {% endif %}
                                        <a href="{{ product.product_url }}">
                                            <div class="product-thumb-info-image">
                                                <img alt="{{ product.product_id }}"
                                                     class="img-fluid"
                                                     src="{{ product.product_image_last }}" />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a href="{{ product.category.get_url }}"
                                               class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{ product.category.name }}</a>
                                            <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0">
                                                <a href="{{ product.product_url }}"
                                                   class="text-color-dark text-color-hover-primary">{{ product.product_id }}</a>
                                            </h3>
                                        </div>
                                        <a href="#"
                                           class="text-decoration-none text-color-default text-color-hover-dark text-4"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div title="Rated 5 out of 5">
                                        <input type="text"
                                               class=""
                                               value="5"
                                               title=""
                                               data-plugin-star-rating
                                               data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}" />
                                    </div>
                                    <p class="price text-5 mb-3">
                                        <span class="sale text-color-dark font-weight-semi-bold">From {{ product.product_start_price }}$</span>
                                    </p>
                                </div>
                                <!--goes here-->
                                <!-- Dialog -->
                            </div>
                            <!--end of single product-->
                        {% endfor %}
                    </div>
                    {% include "includes/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
