{% extends "base.html" %}
{% block content %}
    <div class="container-xxl">
        <div class="row">
            <!--side bar-->
            {% include "products/includes/sidebar.html" %}
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="thumb-gallery-wrapper">
                            <div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3">
                                {% for image in object.multipleproductimages_set.all %}
                                    <div>
                                        <img alt="{{ product.product_id }}"
                                             class="img-fluid"
                                             src="{{ image.image_url }}"
                                             data-zoom-image="{{ image.image_url }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs">
                                {% for image in object.multipleproductimages_set.all %}
                                    <div class="cur-pointer">
                                        <img alt="{{ product.product_id }}"
                                             class="img-fluid"
                                             src="{{ image.image_url }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="summary entry-summary position-relative">
                            <h1 class="mb-0 font-weight-bold text-7">{{ object.product_id }}</h1>
                            <h2 class="mb-0 font-weight-bold text-5">{{ object.alternative_product_ids|default_if_none:"" }}</h2>
                            <div class="pb-0 clearfix d-flex align-items-center">
                                <div title="Rated 3 out of 5" class="float-start">
                                    <input type="text"
                                           class=""
                                           value="3"
                                           title=""
                                           data-plugin-star-rating
                                           data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'s'}">
                                </div>
                                <div class="review-num">
                                    <a href="#description"
                                       class="text-decoration-none text-color-default text-color-hover-primary"
                                       data-hash
                                       data-hash-offset="0"
                                       data-hash-offset-lg="75"
                                       data-hash-trigger-click=".nav-link-reviews"
                                       data-hash-trigger-click-delay="1000">
                                        <span class="count text-color-inherit" itemprop="ratingCount">({{ object.total_votes }}</span>
                                        review{{ product.total_votes|pluralize:"s" }})
                                    </a>
                                </div>
                            </div>
                            <div class="divider divider-small">
                                <hr class="bg-color-grey-scale-4">
                            </div>
                            <span class="sale" id="offer"></span>
                            <span class="sale" id="offer_duration"></span>
                            <p class="price mb-3">
                                <span class="sale text-color-dark" id="price"></span>
                                <span class="amount" id="discount_price"></span>
                            </p>
                            <ul class="list list-unstyled text-2">
                                <li class="mb-0">
                                    AVAILABILITY: <strong id="quantity" class="text-color-dark"></strong>
                                </li>
                                {% if object.brand %}
                                    <li class="mb-0">
                                        BRAND: <strong class="text-color-dark">{{ object.brand }}</strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <form enctype="multipart/form-data"
                                  method="post"
                                  class="cart"
                                  id="form_product_id"
                                  onchange="singleProductAjax()"
                                  onload="callAjaxReq()"
                                  action="{% url 'add-to-cart' %}">
                                <!--table-->
                                {% csrf_token %}
                                {% if form %}
                                    <table class="table table-borderless" style="max-width: 300px;">
                                        <tbody>
                                            {% for field in form %}
                                                <tr>
                                                    <td class="align-middle text-2 px-0 py-2">{{ field.label }}:</td>
                                                    <td class="px-0 py-2">
                                                        <div class="custom-select-1">{{ field }}</div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                <hr>
                                <div class="quantity quantity-lg">
                                    <input type="button"
                                           class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary"
                                           value="-">
                                    <input type="text"
                                           class="input-text qty text"
                                           id="product_quantity"
                                           title="Qty"
                                           value="1"
                                           name="quantity"
                                           max=""
                                           min="1"
                                           step="1">
                                    <input type="button"
                                           max="10"
                                           class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary"
                                           value="+">
                                    <input type="hidden" id="productAttr_id" value="" name="productattr_id">
                                    <input type="hidden"  value="{{ request.path }}" name="redirect_path">
                                </div>
                                <button type="submit"
                                        id="button"
                                        class="btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary">
                                    Add
                                    to cart
                                </button>
                                <hr>
                            </form>
                            <div class="d-flex align-items-center">
                                <ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
                                    <!-- Facebook -->
                                    <li class="social-icons-facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=https://www.okler.net"
                                           target="_blank"
                                           data-bs-toggle="tooltip"
                                           data-bs-animation="false"
                                           data-bs-placement="top"
                                           title="Share On Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <!-- Google+ -->
                                    <li class="social-icons-googleplus">
                                        <a href="https://plus.google.com/share?url=https://www.okler.net"
                                           target="_blank"
                                           data-bs-toggle="tooltip"
                                           data-bs-animation="false"
                                           data-bs-placement="top"
                                           title="Share On Google+">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <!-- Twitter -->
                                    <li class="social-icons-twitter">
                                        <a href="https://twitter.com/share?url=https://www.okler.net&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                                           target="_blank"
                                           data-bs-toggle="tooltip"
                                           data-bs-animation="false"
                                           data-bs-placement="top"
                                           title="Share On Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- Email -->
                                    <li class="social-icons-email">
                                        <a href="mailto:?Subject=Share This Page&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.okler.net"
                                           data-bs-toggle="tooltip"
                                           data-bs-animation="false"
                                           data-bs-placement="top"
                                           title="Share By Email">
                                            <i class="far fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#"
                                   class="d-flex align-items-center text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2">
                                    <i class="far fa-heart me-1"></i> SAVE TO WISHLIST
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="description"
                             class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">
                            <ul class="nav nav-tabs justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3"
                                       href="#productDescription"
                                       data-bs-toggle="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3"
                                       href="#productInfo"
                                       data-bs-toggle="tab">Additional Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-reviews font-weight-bold text-3 text-uppercase py-2 px-3"
                                       href="#productReviews"
                                       data-bs-toggle="tab">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content p-0">
                                <div class="tab-pane px-0 py-3 active" id="productDescription">
                                    <p class="text-3-5 mb-3">{{ object.description|linebreaksbr }}</p>
                                </div>
                                <div class="tab-pane px-0 py-3" id="productInfo">
                                    <table class="table table-striped m-0">
                                        <tbody class="border-top-0">
                                            {% for var_cat in object.variationscategory_set.all %}
                                                <tr>
                                                    <th class="border-top-0">{{ var_cat.name|title }}:</th>
                                                    <td class="border-top-0">{{ var_cat.variations_set.all|join:', '|upper }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!--comments-->
                                {% include "products/includes/reviews.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="solid my-5">
                <!--related products-->
                {% include "products/includes/related_products.html" %}
                <!--related products-->
            </div>
        </div>
    </div>
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    // Your function code here
    AjaxReq(dataList="");
  });
    </script>
{% endblock content %}
